*{
padding: 0;
margin: 0;
font-family: "inter";

}

#tituloMenu{ 
   margin-left: 20px;
    font-size: 70px;
    margin-top: 0px;
    color: aliceblue;
}
#textoMenu{
margin-left: 20px;
font-size: 20px;
margin-top: 30px;
color: aliceblue;



}
#menuSuperior{
padding: 150px;
background-image:url("/imagem/img.svg");
width: 1440px;
height: 475px;

font-family: "inter";
color: aliceblue;
margin:0;
}



#icones{
    font-size: 30px;
    align-items: center;
    text-align:left;
    color: black;
    display: grid;
    grid-auto-flow: column;
    columns: center;

    gap:20 px;
    margin-top: 55px;
    margin: 80px;
    padding: 20px;
    width: 1440px;
    height: 225px;
}


#menuimagem{
     margin: 0px;
    margin-top: 0px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
        align-items:center;
        margin: 50px;}



#Tituloinformacional{
font-size: 40px;
font-family: "inter";

}

    #textoinf{
    font-family: "inter";
    font-size: 30px;
    
    
    
    }








#Formulario{
    margin-top: 35px;
    align-items: center;
    font-size: 32px;
    text-align: center;
    margin: 25px;
    background-color: black;
    align-items: center;
    padding: 40px;
    
background-color: black;
width: 1440;
height: 648px;
font-size: 32px;
margin: 0px;
color: aliceblue;


}
#tituloformulario{
    margin-top: 90px;


}

input{
    margin-top: 20px;
    margin: 20px;
padding: 35px;
font-size: 32PX;
width: 508PX;
height: 72PX;
padding-left: 15px;
border: 0px;
border-radius: 10PX;

}
button{
    margin-top: 20px;
text-align: center;
font-size: 30PX;
width: 276PX;
height: 74PX;
border: 0px;
border-radius: 10px;
background-color: #C07212;
color: aliceblue;
}
#rodape{
background-color: darkgray;
display: grid;
grid-auto-flow: column;




}










